@import url('https://fonts.googleapis.com/css2?family=Anton&family=Heebo:wght@500&family=Lobster&family=Merriweather&family=Montserrat&family=Mulish&family=Poppins&family=Roboto&family=Roboto+Mono&family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
}

h1,h2{
    font-family: 'Poppins', sans-serif;
}
p,
li,
a{
    font-family: 'Heebo', sans-serif;
}

.main-div{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                        "one two three"
                        "four five six"
                        "footer footer footer";
    gap: 20px;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 2em;
}
header {
    background-color: black;
    color: #fff;
}

header nav ul li{
    padding: 1em;
    border-radius: 5px;
}



.top-container{
    background-image: url(./images\ \(1\).jpeg);
    padding: 150px;
    background-size: 100%;
    text-align: center;
    grid-area: header;
}
.top-container h1{
    font-size: 2.5rem;
    margin-bottom: 2em;
}
.top-container p{
    font-size: 1.6rem;
}

#one{
    grid-area: one;

}

#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}
#six{
    grid-area: six;
}

.display{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 15px;
}
.placeholder{
    width: 70%;
    margin: 0 auto;
    height: 60%;    

    padding: 2em;
    background-color: rgb(254, 252, 250);
    text-align: center;
    margin-bottom: 1em;
    border-radius: 10px;
}
.display > p{
    text-align: center;
    padding: 2em;
    background-color: black;
    width: 70%;
    margin: 0 auto;
    color: #fff;
    border-radius: 10px;
}
footer{
    grid-area: footer;
    background-color: black;
    color: #fff;
    padding: 1em;
    
}
footer ul{
    display: flex;
    list-style: none;
    justify-content: space-around;

}

 footer ul li{
    padding: 1em;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    width: 10%;
    text-align: center;

 }